body {
    background: rgb(213, 179, 70);
    color: papayawhip;
    font-family: 'Courier New', Courier, monospace;
}

article {
    width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 48pt;
}

.year {
    display: flex;
    margin: 50px 0;
    border: 3px solid gainsboro;
}

.info-box {
    flex-grow: 1;
    flex-basis: auto;
    background: papayawhip;
    color: coral;
    padding: 25px;
    margin: 20px;
}

.bigger {
    flex-grow: 4;
}